{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form>
    <fieldset>
        <legend>Please enter your information:</legend>



        <!-- Removes the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
        <p><em>
            {{ form.name.label }}
            {{ form.name }}
            {{ form.price.label }}
            {{ form.price }}
            {{ form.category.label }}
            {{ form.category }}
            {{ form.photo_url.label }}
            {{ form.photo_url }}
            {{ form.store.label }}
            {{ form.store }}
            {{ form.submit }}

        </em></p>

        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}